flight-management/src/main/mule/flight-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sdc="http://www.mulesoft.org/schema/mule/sdc" xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/sdc http://www.mulesoft.org/schema/mule/sdc/current/mule-sdc.xsd">
    <http:listener-config name="flight-management-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="flight-management-api-config" api="resource::97632a37-7ac2-4be0-b300-870a59e81931:flight-management-api:1.0.1:raml:zip:flight-management-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="b8c301a8-4b12-4f0b-a4cd-fcf49cccb0a4" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/flightmanagement" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="f3faf28b-1e3d-4d7e-b740-fcc1d98f1130" />
	<flow name="flight-management-api-main">
        <http:listener config-ref="flight-management-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flight-management-api-console">
        <http:listener config-ref="flight-management-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\flight\(id):flight-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  FlightNumber: 9966,
  Airline: "Ryanair",
  DepartureCity: "Roma",
  DestinationCity: "Amsterdam",
  FlightDate: "2025-07-16",
  FlightTime: 120
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="824c4b3a-913b-4309-a626-9162b1c1198c" variableName="numeroVolo" />
		<logger level="INFO" doc:name="Logger" doc:id="a588aa65-7d29-4b35-bf83-630b20f09310" message="#[vars.numeroVolo]"/>
		<db:select doc:name="Select" doc:id="b2c1d9a5-b202-4656-bbef-2187461076d1" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM test.flight WHERE fnumber = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: attributes.uriParams.id]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="66864cb4-692f-4937-9cc2-165b770a36ab" />
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="b9db6c01-dacf-41d4-a41d-6fad18d67dd3" config-ref="Validation_Config"/>
		<set-variable value="#[payload[0].departurecity]" doc:name="Set Variable" doc:id="de84f63a-7611-463a-b1f6-3f407b8caaa4" variableName="cittaPartenza"/>
		<logger level="INFO" doc:name="Logger" doc:id="a36e41e7-643f-4e4f-8396-002b9e6eb19c" message="#[vars.cittaPartenza]" />
		<db:select doc:name="Select" doc:id="fcea01c6-938c-407c-b200-d649905aedca" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM test.flight WHERE departurecity =:cittaPartenza]]></db:sql>
			<db:input-parameters ><![CDATA[#[cittaPartenza: vars.cittaPartenza]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="2f5c520e-b372-4225-9b85-eaa0a531f54f" message="#[payload]" />
		<foreach doc:name="For Each" doc:id="ea557952-8e20-43be-9910-35669b9456a5" collection="#[payload]">
			<db:update doc:name="Update" doc:id="91ca2476-56b2-4e42-bdcd-4f9e233935d8" config-ref="Database_Config">
				<db:sql ><![CDATA[UPDATE test.flight
SET ftime =:Newftime
where fnumber =:fnumber]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
Newftime: payload.ftime + 60,
fnumber: payload.fnumber	
}]]]></db:input-parameters>
			</db:update>
		</foreach>
		<set-payload value='#["Il volo " ++ vars.numeroVolo as String ++ " subirà un ritardo di 60 minuti"]' doc:name="Set Payload" doc:id="5bda0d2b-ec7d-42c4-9ceb-d8e5fb9b5291" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e9a26c7b-b8f4-4879-81a5-4a182877b36a" type="VALIDATION:EMPTY_COLLECTION">
				<set-variable value="404" doc:name="Set Variable" doc:id="c1eaeb63-471e-473e-a6dd-62716c0efc37" variableName="httpStatus"/>
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  error: "Il volo " ++ vars.numeroVolo as String  ++ " non è stato trovato"&#10;}]' doc:name="Set Payload" doc:id="4cf8a722-c6cc-4e1e-b7fe-a8413bce0eb4" />
			</on-error-continue>
		</error-handler>
    </flow>
	<flow name="InserimentoDB" doc:id="124d7352-825d-4005-abbb-e633ee000fb3" >
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="6350edc7-19ac-479d-b92f-4e6204d3d1de" variableName="dati_volo"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="d2fb8753-6ca7-4d7c-9cb8-f3349b2f7693" >
			<route >
				<db:insert doc:name="Insert" doc:id="6e692eee-bbf0-4975-bdc0-e3b4d47c2891" config-ref="Database_Config">
					<db:sql><![CDATA[INSERT INTO test.flight(fnumber,airline, departurecity, destinationcity, fdate, ftime)
VALUES(:fnumber, :airline, :departurecity, :destinationcity, :fdate, :ftime)]]></db:sql>
					<db:input-parameters><![CDATA[#[{fnumber: payload.FlightNumber,
airline: payload.Airline,
departurecity: payload.DepartureCity,
destinationcity: payload.DestinationCity,
fdate: payload.FlightDate as Date,
ftime: payload.FlightTime
}]]]></db:input-parameters>
				</db:insert>
			</route>
			<route >
				<db:insert doc:name="Insert" doc:id="9256e016-55fe-4aca-8b54-c124d08f7acb" config-ref="Database_Config">
					<db:sql ><![CDATA[INSERT INTO test.flight_details(id, price, seats_available)
VALUES(:flightNumber,NULL,NULL)]]></db:sql>
					<db:input-parameters ><![CDATA[#[flightNumber: payload.FlightNumber]]]></db:input-parameters>
				</db:insert>
				<logger level="INFO" doc:name="Logger" doc:id="5826fab2-399e-4ada-ab6c-8783f41fbce1" message="#[%dw 2.0&#10;output application/json&#10;---&#10;'I dati price e seats_available relativi al volo '++ vars.dati_volo.FlightNumber as String&#10;++' sono da aggiornare. Il loro valore di defaul è NULL']"/>
			</route>
		</scatter-gather>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;"Il volo numero " ++ vars.dati_volo.FlightNumber as String ++ " è stato aggiunto correttamente"]' doc:name="Set Payload" doc:id="198a7ef1-ed3d-4878-a243-cb90b817f02e" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="4e423429-066f-4016-b012-eae55f702bad" type="ANY">
				<set-variable value="400" doc:name="Set Variable" doc:id="450eb33c-580f-4ce6-9340-133f906352ed" variableName="httpStatus" />
				<set-payload doc:name="Set Payload" doc:id="9d411618-d4ca-49e4-9dc5-0a240e819607" value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  error: "Il numero " ++ vars.numero_volo as String  ++ " è già associato ad un volo presente nel database"&#10;}]' />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="post:\flight:application\json:flight-management-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="0389e5bc-17ed-442e-86d5-1cd6aaf84c6b" message="#[payload]"/>
		<set-variable value='#[%dw 2.0&#10;output application/json&#10;---&#10;(now() as Date) as String {format: "yyyy-MM-dd"}]' doc:name="Set Variable" doc:id="4729676c-5ad0-4f62-b5fa-0d5352486dc3" variableName="data_odierna" />
		<set-variable value="#[payload.FlightNumber]" doc:name="Set Variable" doc:id="ca0451bc-e857-4935-aa1c-addbfe4f02b2" variableName="numero_volo"/>
		<choice doc:name="Choice" doc:id="77ff7b3e-63ef-45fb-8cf8-11afdcfcac7c" >
			<when expression="#[payload.FlightDate &gt; vars.data_odierna]">
				<flow-ref doc:name="Flow Reference" doc:id="9d8b39f1-c2b2-44c5-a4e2-2aa1dc610242" name="InserimentoDB"/>
				<logger level="INFO" doc:name="Logger" doc:id="b5434080-bfcd-4688-9db9-e69942e63582" message="#['È stato aggiunto un volo con data successiva alla data odierna']"/>
			</when>
			<when expression="#[payload.FlightDate == vars.data_odierna]">
				<flow-ref doc:name="Flow Reference" doc:id="c9fe09fc-66ed-4e02-9d68-19166d2936c1" name="InserimentoDB"/>
				<logger level="INFO" doc:name="Logger" doc:id="47640603-f19b-4c7d-b81c-22e894481248" message='#["È stato aggiuto un volo che parte in data odierna"]'/>
			</when>
			<otherwise>
				<set-variable value="400" doc:name="Set Variable" doc:id="fa0f77f4-223d-41fa-aa23-379d85389355" variableName="httpStatus"/>
				<set-payload value='#["La data del volo è precedente alla data odierna quindi il volo non viene registrato"]' doc:name="Set Payload" doc:id="d6d590c9-8348-4b16-a617-8827fada9913" />
			</otherwise>
		</choice>
    </flow>
</mule>
