flight-management/src/main/mule/flight-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
    <http:listener-config name="flight-management-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="flight-management-api-config" api="resource::97632a37-7ac2-4be0-b300-870a59e81931:flight-management-api:1.0.1:raml:zip:flight-management-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="b8c301a8-4b12-4f0b-a4cd-fcf49cccb0a4" >
		<db:generic-connection url="jdbc:postgresql://localhost:5432/flightmanagement" driverClassName="org.postgresql.Driver" user="postgres" password="postgres" />
	</db:config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="f3faf28b-1e3d-4d7e-b740-fcc1d98f1130" />
	<flow name="flight-management-api-main">
        <http:listener config-ref="flight-management-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flight-management-api-console">
        <http:listener config-ref="flight-management-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\flight\(id):flight-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  FlightNumber: 9966,
  Airline: "Ryanair",
  DepartureCity: "Roma",
  DestinationCity: "Amsterdam",
  FlightDate: "2025-07-16",
  FlightTime: 120
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="824c4b3a-913b-4309-a626-9162b1c1198c" variableName="numeroVolo" />
		<logger level="INFO" doc:name="Logger" doc:id="a588aa65-7d29-4b35-bf83-630b20f09310" message="#[vars.numeroVolo]"/>
		<db:select doc:name="Select" doc:id="b2c1d9a5-b202-4656-bbef-2187461076d1" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM test.flight WHERE fnumber = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[id: attributes.uriParams.id]]]></db:input-parameters>
		</db:select>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="66864cb4-692f-4937-9cc2-165b770a36ab" />
		<validation:is-not-empty-collection doc:name="Is not empty collection" doc:id="b9db6c01-dacf-41d4-a41d-6fad18d67dd3" config-ref="Validation_Config"/>
		<set-variable value="#[payload[0].departurecity]" doc:name="Set Variable" doc:id="de84f63a-7611-463a-b1f6-3f407b8caaa4" variableName="cittaPartenza"/>
		<logger level="INFO" doc:name="Logger" doc:id="a36e41e7-643f-4e4f-8396-002b9e6eb19c" message="#[vars.cittaPartenza]" />
		<db:select doc:name="Select" doc:id="fcea01c6-938c-407c-b200-d649905aedca" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM test.flight WHERE departurecity =:cittaPartenza]]></db:sql>
			<db:input-parameters ><![CDATA[#[cittaPartenza: vars.cittaPartenza]]]></db:input-parameters>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="2f5c520e-b372-4225-9b85-eaa0a531f54f" message="#[payload]" />
		<foreach doc:name="For Each" doc:id="ea557952-8e20-43be-9910-35669b9456a5" collection="#[payload]">
			<db:update doc:name="Update" doc:id="91ca2476-56b2-4e42-bdcd-4f9e233935d8" config-ref="Database_Config">
				<db:sql ><![CDATA[UPDATE test.flight
SET ftime =:Newftime
where fnumber =:fnumber]]></db:sql>
				<db:input-parameters ><![CDATA[#[{
Newftime: payload.ftime + 60,
fnumber: payload.fnumber	
}]]]></db:input-parameters>
			</db:update>
		</foreach>
		<set-payload value='#["Il volo " ++ vars.numeroVolo as String ++ " subirà un ritardo di 60 minuti"]' doc:name="Set Payload" doc:id="5bda0d2b-ec7d-42c4-9ceb-d8e5fb9b5291" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="e9a26c7b-b8f4-4879-81a5-4a182877b36a" type="VALIDATION:EMPTY_COLLECTION">
				<set-variable value="404" doc:name="Set Variable" doc:id="c1eaeb63-471e-473e-a6dd-62716c0efc37" variableName="httpStatus"/>
				<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  error: "Il volo " ++ vars.numeroVolo as String  ++ " non è stato trovato"&#10;}]' doc:name="Set Payload" doc:id="4cf8a722-c6cc-4e1e-b7fe-a8413bce0eb4" />
			</on-error-continue>
		</error-handler>
    </flow>
	<flow name="post:\flight:application\json:flight-management-api-config">
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Volo creato correttamente" as String {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
